@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}
body {
  background: url('white-flecks.png');
}
.container {
  margin: 0 auto 30px auto;
  max-width: 900px;
  width: 90%;
}

.score {
  position: fixed;
  right: 0;
  bottom: 0;
  border: 1px dotted #330066;
  padding: 5px;
  background-color: #CCCCFF;
  font-size: 12px;
}

.qu {
  background-color: lavender;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.qu_answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.qu_answers > div {
  border: 1px solid black;
  padding: 5px 10px;
  user-select: none;
}
.qu_answers_extra > div:hover {
  background-color: #339966;
}
.qu_answers_extra > div:active {
  background-color: #33CC66;
}
.qu_answers_extra > div {
  cursor: pointer;
}

.qu_alert_text {
  text-align: center;
  margin: 10px 0 0 0;
  opacity: 0;
  cursor: default;
}
.qu_alert_text_extra {
  opacity: 1;
  transition: 0.5s;
}

@media (max-width: 600px) {
  .qu_answers {
    grid-template-columns: 1fr;
  }
  .container {
    width: 100%;
    margin: 0;
  }
}


.wrap_modal {
  background: rgba(0,0,0,0.5);
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
.modal {
  position: relative;
  max-width: 500px;
  margin: 30px auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  text-align: center;
  padding: 40px 10px;
  font-size: 22px;
}
.close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #444;
  cursor: pointer;
}
.close:hover {
  fill: #888;
}