@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background: url('white-flecks.png');
}

.score {
  position: fixed;
  right: 0;
  /* left: 0; */
  /* margin: auto; */
  bottom: 0;
  border: 1px dotted #330066;
  padding: 5px;
  background-color: #CCCCFF;
  /* margin-bottom: -1px; */
  /* text-align: center; */
  /* max-width: 170px; */
  font-size: 12px;

}

.qu_answers {
  display: flex;
  flex-wrap: wrap;
}
.qu_answers > div {
  border: 1px solid black;
  padding: 5px 10px;
  flex-basis: 40%;
  margin: 5px;
  flex-grow: 1;
  user-select: none;
}
.qu_answers_extra > div:hover {
  background-color: #339966;
}
.qu_answers_extra > div:active {
  background-color: #33CC66;
}
.qu_answers_extra > div {
  cursor: pointer;
}

.qu_alert_text {
  text-align: center;
  margin: 0;
}

/* hr {
  margin: 70px 0;
} */

.qu {
  background-color: lavender;
  padding: 20px;
  margin-bottom: 20px;
}
.qu {
  font-size: 18px;
}


.wrap_modal {
  background: rgba(0,0,0,0.5); /* цвет фона */
  position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 1s;
  visibility: hidden;
}
.modal {
  position: relative;
  max-width: 500px;
  margin: 30px auto; /* для отображения модального окна по центру */
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  text-align: center;
  padding: 40px 10px;
  font-size: 22px;
  
}
.close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #444;
  cursor: pointer;
}
.close:hover {
  fill: #888;
}