* {
  font-family: sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
}
.headline {
  text-align: center;
  font-size: 25px;
}

.excursion {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.excursion-item {
  padding: 20px;
  border: 1px dotted black;
  line-height: 1.5;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgb(245, 245, 245);
  transition: 0.5s;
}
.excursion-item:hover {
  border-color: blue;
  background-color: #fff;
}