html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: sans-serif;
}

.container {
  max-width: 900px;
  width: 96%;
  margin: 20px auto;
}

.menu {
  margin-bottom: 10px;
  &__list {
    display: flex;
    justify-content: space-between;
    &--hide {
      display: none;
    }
  }
}


@media (max-width: 600px) {
  .menu {
    &__list {
      flex-direction: column;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      background-color: #049372;
      max-width: 96%;
      margin: 0 auto;
      transition: all 0.3s linear;
      visibility: hidden;
      opacity: 0;
      font-size: 0;
    }
    &__btn-wrap {
      text-align: right;
    }

    &__item {
      border-bottom: 1px solid #1E824C;
      &:last-child{
        border-bottom: none;
      }
      &-link{
        display: block;
        padding: 15px;
        color: white;
      }
    }
    &__btn:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: '\f805';
      font-size: 30px;
      margin-top: 1%;
    }
    &__btn-close:before {
      content: '\f00d';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 30px;
      margin-top: 1%;
    }
  }
}

p {
  line-height: 1.4rem;
}

// For animation
.test2 {
  visibility: visible;
  opacity: 1;
  font-size: 1rem;
}













@media (min-width: 601px) {
  .menu {
    &__btn-wrap {
      display: none;
    }
    &__list {
      display: flex;
    }
  }
}